* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	padding: 10px !important;
}

.context {
	position: relative;
}

.w50 { width: 50%; }
.w70 { width: 70%; }
.w30 { width: 30%; }
.w100 { width: 100%; }
.c { padding: 0 !important; }

.lr tr > td:last-child {
	text-align: right;
}

table {
	width: 100%;
	border-spacing: 0;
}

table td {
	padding: 2px 5px;
}

.va-t {
	vertical-align: top;
}

/* Style */

.products table tr:first-child {
	background-color: #f9f9f9;
}

.products table tr td {
	padding: 5px;
}

.content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.subtotal-price-row td {
	padding-top: 15px;
}

.total-price-row td {
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.vat-price-row td {
	padding-bottom: 15px;
}